-
  const timelineData = [
    { time: "2026/4", content: "本网站上线" },
    { time: "2026/3", content: "编译Aseprite" },
    { time: "2025/9", content: "Spring Boot, MySQL, Redis, java" },
    { time: "2025/8", content: "godot, gdscript, 游戏开发" },
    { time: "2025/6", content: "HTML, CSS, JavaScript" },
    { time: "2025/5", content: "基于QT开发导航系统" },
    { time: "2025/3", content: "C++, 面向对象编程" },
    { time: "2024/10", content: "C语言" }
  ]

.my-timeline
  each item in timelineData
    .my-timeline-item
      .my-timeline-time= item.time
      .my-timeline-dot
      .my-timeline-content= item.content
