@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/PressStart2P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#page-header #site-title {
  font-family: 'Press Start 2P', 'Noto Sans SC', monospace !important;
}