@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/PressStart2P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#page-header #site-title {
  font-family: 'Press Start 2P', 'Noto Sans SC', monospace !important;
}

.my-timeline {
  position: relative;
  padding: 0;
}

.my-timeline::before {
  content: "";
  position: absolute;
  left: 72px;
  top: 8px;
  bottom: 0;
  width: 2px;
  background: #4c4948;
}

.my-timeline-item {
  position: relative;
  min-height: 40px;
  margin-bottom: 24px;
}

.my-timeline-time {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  text-align: right;
  font-size: 14px;
  color: #666;
}

.my-timeline-dot {
  position: absolute;
  left: 64px;
  top: 6px;
  width: 16px;
  height: 16px;
  background: #49b1f5;
  border-radius: 50%;

  z-index: 1;
}

.my-timeline-content {
  margin-left: 95px;
  font-size: 14px;
  color: #333;
  line-height: 24px;
  writing-mode: horizontal-tb; /* 防止竖排 */
}

/* 文章 description 板块 */
.post-description {
  padding: 15px 20px;
  margin-bottom: 20px;
  background: #e8f4f8;
  color: #333;
  font-size: 14px;
  line-height: 1.6;
  white-space: pre-wrap;
}